<footer>
    <div class="row">
        <div class="col-lg-12 footer">
            <p><img src="{{ " images/html_cacao_logo.png" }}" style="max-width: 35%" alt="CACAO!" /></p>
            &copy;{{ site.time | date: "%Y" }} {{site.company_name}}. All rights reserved. <br />
            {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br />{% endif %} Site last
            generated: {{ site.time | date: "%b %-d, %Y" }} <br />
        </div>
    </div>
</footer>

{% comment %} Copyright 2021 Google LLC {% endcomment %}