<div id="userMap">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg modalButton1" data-toggle="modal" data-target="#myModal1">Setup</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Setup</h4>
          </div>
          <div class="modal-body">
<p>Setup loop processes, input WFS and output DM:</p>

    <ul>
        <li><a href="cacao_deploying_from_example.html">Deploying from example</a></li>
        <li><a href="cacao_start_DM_WFS.html">WFS and DM startup</a></li>
        <li><a href="cacao_WFSacquisition.html">WFS acquisistion</a></li>
    </ul>
    <p>...</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
            <span class="complexArrow">→</span>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-lg modalButton2" data-toggle="modal" data-target="#myModal2">Calibrate</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Calibration</h4>
                  </div>
                  <div class="modal-body">
                    <p> Calibration steps</p>

                    <p>Steps:</p>
                    <ul>
                        <li><a href="cacao_hardware_latency.html">Measuring hardware latency</a></li>
                        <li><a href="cacao_acquire_linear_response.html">Acquiring the response matrix</a></li>
                        <li><a href="cacao_compute_CM.html">Computing the control matrix</a></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <span class="complexArrow">→</span>

            <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg modalButton3" data-toggle="modal" data-target="#myModal3">Control</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">AO loop control</h4>
                  </div>
                  <div class="modal-body">
                    <p>AO loop control:
                        <ul>
                            <li><a href="cacao_AOloop_run.html">Running AO control loop</a></li>
                        </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


<div class="clearfix"></div>

</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
